@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap&subset=cyrillic');
header
{
    background-image: url("../Images/index_header.jpg");
    margin: 5px;
    padding: 30px;
    text-align: center;
    color: white;
    box-shadow: 10px 10px 60px 0px #0c7e76;
}
body
{
    font-family: 'Fira Mono';
    margin: 0px;
}
.btn
{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px 10px 30px;
    border: 1px solid white;
    background-color: #0c7e76;
    color: white;
    transition: 0.5s;
}
h2
{
    text-align: left;
}
p
{
    font-size: 22px;
    text-align: justify;
    text-indent: 40px;
}
article
{
    margin: 20px 5px;
    padding: 10px 20px 20px;
    background-color: #dbdbdb;
    box-shadow: 10px 10px 40px 10px gray;
    text-align: center;
}
.imgHistory1
{
    background-image: url("../Images/image_history_1.jpg");
    width: 800px;
    height: 500px;
    background-size: cover;
    margin: auto;
}
.imgHistory2
{
    background-image: url("../Images/image_history_2.jpg");
    width: 800px;
    height: 500px;
    background-size: cover;
    margin: auto;
}
footer
{
    text-align: center;
    margin: 30px;
}
.vk
{
    display: inline-block;
    background-image: url("../Images/index_ico_vk.png");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition: 0.5s;
}
.inst
{
    display: inline-block;
    background-image: url("../Images/index_ico_inst.jpg");
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-left: 40px;
    margin-right: 40px;
    transition: 0.5s;
}
.tlg
{
    display: inline-block;
    background-image: url("../Images/index_ico_tlg.jpg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition: 0.5s;
}
.icon:hover
{
    width: 60px;
    height: 60px;
}
 .btn:hover
{
    padding: 10px 20px;
    font-size: 20px;
}